/* Add here all your css styles (customizations) */

input[type=text], select, textarea {
    text-transform: uppercase;
}

.hide {
    display: none;
}

.card-deck {
    display: flex;
}
.card-deck .card img {
    vertical-align: middle;
}
