/* Add here all your css styles (customizations) */

input[type=text], select, textarea {
    text-transform: uppercase;
}

.hide {
    display: none;
}

.card-deck {
    display: flex;
}
.card-deck .card img {
    vertical-align: middle;
}
.gallery_product
{
    margin-bottom: 30px;
}

#medio_entero_especificar {
    display: none;
}

#sistema_capacitacion_especificar {
    display: none;
}

.medio_especificar {
    display: none;
}

.capacitacion_especificar {
    display: none;
}
