/* Elaboro Romelia Perez Nanguelu - rpnanguelu@gmail.com*/
body { background-color: #E6E6E6; }
input[type=text], select, textarea {
    text-transform: none;
}

@font-face {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Playfair Display', serif;
}

.card-header{    
    font-variant: small-caps;
    background-color: #c90166 !important;
    color: white;
    margin: 1.5% 1.5% 1% 1.5%;
    padding: 1.3% 40px 1.3% 40px;
    font-style: normal;
    font-size: 24px;    
}

.card-body{
    margin: 1% 1.5% 1% 1.5%;  
    padding: 43px 36px 43px 36px;
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
    min-height:450px;
}

.card-body.card-msg{
    background-color: yellow;
    margin: .5% 1.7% .5% 1.7%;
    padding: .5% 5px .5% 25px;
}
.row{  margin-bottom: 15px; }

th{ font-size: 13px; }
td{ font-size: 13px; }

.btn, .btn:focus{ color: white; background: #008878; font-size: 14px; border-color: #008878; margin: 0 5px 0 5px; padding: 11px 14px 11px 14px; }
.btn:hover { color: white; background: #009885; border-color: #12322b; }

.pagination { justify-content: center;}

.page-item.active .page-link {
    font-size: 14px; margin: 0 5px 0 5px; padding: 10px 13px 10px 13px; 
    background-color: #008878 !important; 
    color: white;
}

.custom-select-mov { font-size: 16px; }
.custom-check { width:22px; height:22px; }

.pink2 { background-color: #000 !important; margin-top: -5px;}
#navbarDropdownMenuLink { color: #FFF; font-size: 15px; font-weight: 450; }
#navbarDropdownMenuLink:hover { color:rgb(1, 194, 171); font-size: 15px; font-weight: 450;text-shadow: none; box-shadow: none;}

.g-bg-black-opacity-0_8 { background-color: rgb(0, 152, 133) !important; }
.g-brd-primary { border-color: #fff !important; }

/* Estilos para spinner de carga */
.spinner-border-sm {
    width: 1rem;
    height: 1rem;
    border-width: 0.2rem;
    margin-right: 0.5rem;
    vertical-align: middle;
    color: #008878;
    border-color: #e9ecef;
    border-right-color: #008878;
    animation: spinner-animation 0.75s linear infinite;
}

@keyframes spinner-animation {
    to {
        transform: rotate(360deg);
    }
}
