    .step-circle {
        display: inline-block;
        height: 44px;
        width: 44px;
        border-radius: 50%;
        border: 2px solid #e075ab;
    }

    .step-circle[data-status="terminado"] {
        background: #c90166;
        border-color: #c90166;
        color: #fff;
    }

    .step-circle[data-status="actual"] {
        background: #008878;
        border-color: #008878;
        color: #fff;
    }

    .step-circle[data-status="restante"] {
        border-color: #e075ab;
        background: transparent;
        color: #e075ab;
    }

    .step-circle[data-status="pendiente"] {
        border-color: #ccc;
        background: transparent;
        color: #ccc;
    }

    .step-progress-nav .list-group-item {
        user-select: none;
        border: none !important;
    }

    .step-progress-nav .list-group-item.active {
        font-weight: bold;
        color: #000;
        background: none;
        cursor: pointer;
    }

    .step-progress-nav .list-group-item .step-circle {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        font-size: 1.2em;
    }

    .step-progress-nav .list-group-item.active .step-circle {
        color: #fff;
    }

    .step-progress-nav .list-group-item.disabled {
        opacity: 0.5;
        pointer-events: none;
        cursor: not-allowed;
    }

    .step-progress-nav .list-group-item.completed {
        cursor: pointer;
    }

    .step-progress-nav .list-group-item.current {
        font-weight: bold;
        cursor: pointer;
    }

    .card.card-body,
    .row {
        overflow: visible !important;
    }

    .nav-sticky {
        position: sticky;
        top: 60px;
        z-index: 1;
    }